/*make sure and put media queries at bottom*/


.content {
	height: 100%;
	/*display: flex;*/
	align-items: center;
	justify-content: center;
}

.top_header {
	/*position: absolute;*/
	top: 0;
	text-align: center;
}


.outer_card {
	border: 3px #d3d3d3;
    border-style: solid;
}

/*login page media queries */
@media only screen and (min-width: 744px) {
	.outer_card {
    	/*flex-basis: 35%;*/
    	justify-content: center;

	}
}

@media only screen and (max-width: 321px) {
	.top_header h1 {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 375px) {
	.outer_card {
		border: none;
    	border-style: none;
    	font-size: 20px;
    }
}

@media only screen and (max-width: 476px) {
	.outer_card {
		border: none;
		border-style: none;
	}
}
/*@media only screen and (min-width: 375px) {
	.outer_card {
    	font-size: 19px;
    }
}*/

/*end login page media queries*/

.outer_ticket_search {
	border-style: solid;
	font-size: 16px;
}

@media only screen and (max-width: 375px) {
	.outer_ticket_search {
		border: none;
    	border-style: none;
    }
}

@media only screen and (min-width: 375px) {
    .outer_ticket_search {
    	margin-left: 5%;
    	margin-right: 5%;
    }
}



.login {
    padding-right: 10%;
    padding-top: 10%;
    padding-left: 10%;
}


#name, #address, #cx_id, #password, #log_in_name, #order_num {
	width: 100%;
}



#ticket_search {
	padding-right: 7%;
    /*padding-top: 7%;*/
    padding-left: 7%;
}

