/*make sure and put media queries at bottom*/
/* file:///C:/Users/MGLafayette/AppData/Local/Microsoft/Windows/INetCache/Content.Outlook/ZB2BGV28/brand-color-update-july2018.pdf */

body {
  /*display: flex;*/
}
.dropdownside {
  position: relative;
  display: inline-block;
}

.calendar td {
  height: 80px;
  width: 80px;
}

#myDropdown {
  display: block;
  position: fixed;
  margin-left: 5%;
  background: white;
  border: solid;
}

#myDropdown1 {
  display: block;
  position: fixed;
  margin-left: 5%;
  background: white;
  border: solid;
}

#myDropdown2 {
  display: block;
  position: fixed;
  margin-left: 5%;
  background: white;
  border: solid;
}

.dropdownside-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownside-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownside a:hover {background-color: #ddd;}

.show {display: block;}

.content {
	/*height: 100%;*/
  min-height: 815px;
	/*display: flex;*/
	align-items: center;
	justify-content: center;
}
.bottom {
  position: fixed;
    bottom: 0;
    right: 0;
    margin-left: 80%;
    background-color: white;
    border-style: outset;
}

#disableme {
    pointer-events: none;
    background: lightgray;
}

.top_header {
	/*position: absolute;*/
	top: 0;
	text-align: center;
	background: #004B87;
	color: white;
	/*display: flex;*/

	align-items: center;
}

#back_button {
	width: 3rem;
    height: 1rem;
    margin-top: .25rem;
    margin-left: .25rem;
    float: left;
    background-color: #00DC00;
}

.outer_card {
	border: 3px #d3d3d3;
    border-style: solid;
}

  #dropdownMenuButton {
    height: 2rem;
  }

/*login page media queries */
@media only screen and (min-width: 744px) {
	.outer_card {
    	/*flex-basis: 35%;*/
    	justify-content: center;

	}
}


@media only screen and (min-width: 728px) {
  .outer_card {
      margin-top: 8%;
      max-width: 728px;
      margin-left: auto;
      margin-right: auto;
      height: 310px
/*      width: 790px;
      margin-left: 50%;
      position: absolute;
      top: 50%;
      transform: translateX(-50%);*/

  }
}

@media only screen and (max-width: 342px) {
	.top_header h1 {
		font-size: 2rem;
		clear: both;
		margin-bottom: 0;

	}
	.top_header {
		background: #004B87;
		color: white;
	}
  #dropdownMenuButton {
    height: 2rem;
  }

}
@media only screen and (min-width: 334px) {
	#back_button {
				    width: 3rem;
    height: 2rem;
	}
	}

@media only screen and (max-width: 375px) {
	.outer_card {
		border: none;
    	border-style: none;
    	font-size: 20px;
    }
}

@media only screen and (max-width: 728px) {
	.outer_card {
		border: none;
		border-style: none;
    margin-top: 5%;
	}
}
/*@media only screen and (min-width: 375px) {
	.outer_card {
    	font-size: 19px;
    }
}*/

/*end login page media queries*/

.outer_ticket_search {
	font-size: 16px;
}

@media only screen and (max-width: 375px) {
	.outer_ticket_search {
		border: none;
    border-style: none;
    clear: both;
    }
}

@media only screen and (min-width: 375px) {
    .outer_ticket_search {
/*    	margin-left: 5%;
    	margin-right: 5%;*/

    	height: 100%;
    	overflow: hidden;
      min-height: 815px;
    }
}



.login {
    padding-right: 10%;
    padding-top: 10%;
    padding-left: 10%;
}


#name, #address, #cx_id, #password, #log_in_name, #order_num, #cx_id, #contact_name, #description, #version, #priority, #status, #assigned_to {
	width: 100%;
}



#ticket_search {
	padding-right: 15%;
    /*padding-top: 7%;*/
    padding-left: 15%;
}

.error {
	color: red;
}

#submit_button {
	background-color: #00DC00
}


/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  float: left;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
@media screen and (max-height: 900px) {
  div.content {
  overflow: visible;
  }
}



@media screen and (min-height: 900px) {
  div.content {
  overflow: hidden;

  }
}
@media screen and (min-width: 700px) {
  .dropdown {
  	display: none;
  }
}
/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
  	display: none;
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* On screens that are less than 540px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 540px) {
  #phonenumber {
    display: none;
  }
}

/* On screens that are less than 428px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 428px) {
  #email_chart {
    display: none;
  }
}

@media screen and (min-width: 701px) {
  #logged_in_user {
    position: absolute;
    display: inline-block;
  }
}

@media screen and (max-width: 700px) {
  #logged_in_user {
    position: fixed;
    bottom: 10px;
    right: 0;
    color: black;
    border: black;
    opacity: 0.75;
    background: white;
    border-style: outset;
  }
  #name, #id, #phonenumber, #email {
    text-align: center;
  }

}



@media only screen and (min-width: 319px) {
	body {
		width:100%;        
    /*min-width:425px;*/
	}
}