{% include 'template.html' %}
<div class="outer_ticket_search">
    <div class="row">
        <form method="POST" action="{{url_for('calendar', month=month)}}" style="display: contents;">
                <div class="col">
                    <div class="input-group-day">
                      <select class="custom-select" name="inputGroupSelect03" id="inputGroupSelect03">
                        <option selected>Day...</option>
                        {% for x in range(daysinmonth) %}
                        <option value="{{x + 1}}">{{x + 1}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <button class="btn btn-success btn-block" onclick="ajaxfunction()">Select day</button>
                </div>

                <div class="col">
                    <div class="input-group-time" style="display: none;">
                      <select class="custom-select" name="inputGroupSelect06" id="inputGroupSelect06">
                        <option selected>Time...</option>
                        <option id="9AM" value="09:00:00">9am</option>
                        <option id="10AM" value="10:00:00">10am</option>
                        <option id="11AM" value="11:00:00">11am</option>
                        <option id="12PM" value="12:00:00">12pm</option>
                        <option id="1PM" value="13:00:00">1pm</option>
                        <option id="2PM" value="14:00:00">2pm</option>
                        <option id="3PM" value="15:00:00">3pm</option>
                        <option id="4PM" value="16:00:00">4pm</option>
                        <option id="5PM" value="17:00:00">5pm</option>
                      </select>
                      </form>
                    </div>
                    <button class="btn btn-success btn-block" id="time_button" style="display: none;">Select Time</button>
                </div>
                <div class="col">
                </div>
<!-- post for time writing to db -->
    <script>
        function ajaxfunction() {
            event.preventDefault();
         $.ajax({
           url : '{{url_for("calendar", month=month)}}', 
           type : 'POST',
           success: function(msg) {
                            $('.input-group-time').show();
                            $('#time_button').show();
                            $('#submit_button').show();
                            
                            //script to scan already used appts and block those off
                             for (i = 0; i < ($(".hidden").children().length); i++) {
                                if ($(".month"+(i+1)).text() == {{month}}){
                                    if(($(".day"+(i+1))).text() == $("#inputGroupSelect03").val()) {
                                        $('#'+ $(".hour"+(i+1)).text()).hide();
                                    }
                                }
                            }
            }
         })
        };
    </script>
<!-- End of row -->
</div>

<br>


<script>
    //cheating and using jquery to help format css
    $('#date_input').addClass('form-control');
    $('#date_input').prop({type:"datetime-local"});
    $('#date_input').css("width","30%");
    $('#date_input').css("text-align","center");
    

</script>

<div class="calendar" id="calendar" style="display: block;">
{{cal|safe}}
        </table>
    </form>
        <div class="form-inline">

            <a href="{{url_for('calendar', month=month|int-1)}}" style="width: 50%"><button type="button" class="btn btn-outline-primary btn-md" id="previous_month" style="width: 100%">Previous</button></a>


            <a href="{{url_for('calendar', month=month|int + 1)}}" style="width: 50%"><button type="button" class="btn btn-outline-primary btn-md" id="next_month" style="width: 100%">Next</button></a>
        </div>

        <script>
            // $('.btn.btn-outline-primary').css('width',($('.form-inline').width()/2))
            
        </script>

        <br/>
        


</div>
<div class="appt_info_sm_screen" style="visibility: hidden;">
    <table class="table">
        <h1 style="text-align: center;">
            {% if month == '1' %}
            January
            {% elif month == '2' %}
            Febuary
            {% elif month == '3' %}
            March
            {% elif month == '4' %}
            April
            {% elif month == '5' %}
            May
            {% elif month == '6' %}
            June
            {% elif month == '7' %}
            July
            {% elif month == '8' %}
            August
            {% elif month == '9' %}
            September
            {% elif month == '10' %}
            October
            {% elif month == '11' %}
            November
            {% elif month == '12' %}
            December
            {% endif %}
        </h1>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Hour</th>
    </tr>
  </thead>
  <tbody>
{% for x in testtime %}
{% if x.month == month %}
    <tr>
      <th scope="row">{{x.day}}</th>
      <td>{{x[2]}}</td>
    </tr>
{% endif %}
{% endfor %}
  </tbody>
</table>
<div class="form-inline">

            <a href="{{url_for('calendar', month=month|int-1)}}" style="width: 50%"><button type="button" class="btn btn-outline-primary btn-md" id="previous_month" style="width: 100%">Previous</button></a>


            <a href="{{url_for('calendar', month=month|int + 1)}}" style="width: 50%"><button type="button" class="btn btn-outline-primary btn-md" id="next_month" style="width: 100%">Next</button></a>
        </div>
        <br><br><br><br>
</div>
</div>




<div class="hidden" style="display: none;">

{% for x in testtime %}
    <div class="appt{{loop.index}}">
      <th scope="row"><div class="month{{loop.index}}" style="display: inline-block;">{{x.month}}</div></th>
      <td><div class="day{{loop.index}}" style="display: inline-block;">{{x.day}}</div></td>
      <td><div class="hour{{loop.index}}" style="display: inline-block;">{{x[2]}}</div></td>
    </tr>
</div>
{% endfor %}
  </tbody>
</table>

<div class="current_month" style="display: visible;">{{month}}</div>



<script>

	$('.bg-info').click(function(){
		$('#calendar').fadeOut();
  // document.getElementById("calendar").style.display = "none";
  document.getElementById("appt_time").style.display = "block";
});

// how to add events
// day = $(".day")
//  hour = $(".hour1")
//  $("div1").append(hour);

</script>


    
    <script>
    //makes nice formatting for bootstrap calendar
    $(".month").attr('class', 'table table-striped table-bordered table-hover');
    $(".mon").first().css({"background-color":"black", "color":"white"});
    $(".tue").first().css({"background-color":"black", "color":"white"});
    $(".wed").first().css({"background-color":"black", "color":"white"});
    $(".thu").first().css({"background-color":"black", "color":"white"});
    $(".fri").first().css({"background-color":"black", "color":"white"});
    $(".sat").first().css({"background-color":"black", "color":"white"});
    $(".sun").first().css({"background-color":"black", "color":"white"});


    //uniquely names each cell in calendar
    for(i = 0; i < $(".mon").length; i++) { 
        $(".mon").eq(i).addClass($(".mon").eq(i).html());
    }

    for(i = 0; i < $(".tue").length; i++) { 
        $(".tue").eq(i).addClass($(".tue").eq(i).html());
    }    

    for(i = 0; i < $(".wed").length; i++) { 
        $(".wed").eq(i).addClass($(".wed").eq(i).html());
    }

    for(i = 0; i < $(".thu").length; i++) { 
        $(".thu").eq(i).addClass($(".thu").eq(i).html());
    }

    for(i = 0; i < $(".fri").length; i++) { 
        $(".fri").eq(i).addClass($(".fri").eq(i).html());
    }

    for(i = 0; i < $(".sat").length; i++) { 
        $(".sat").eq(i).addClass($(".sat").eq(i).html());
    }

    for(i = 0; i < $(".sun").length; i++) { 
        $(".sun").eq(i).addClass($(".sun").eq(i).html());
    }


    //grab all months in hidden div
    for (i = 0; i < ($(".hidden").children().length/3); i++) {
        // console.log($(".month"+(i+1)));
    }

    //grab all days in hidden div
    for (i = 0; i < ($(".hidden").children().length); i++) {
        // console.log($(".day"+(i+1)).text());
    }

    for (i = 0; i < ($(".hidden").children().length); i++) {
        // console.log($(".hour"+(i+1)).text());
    }

</script>
<script>
//35
len = $(".table").children().children().slice(2).children().length;
top = $(".table").children().children().slice(2).children();

z = 0;

for (i = 0; i < len; i++) {



    for (x=0; x < $(".hidden").children().length; x++) {

        // console.log("------");
        // console.log($(".day"+(x)).text());
        // console.log($('.calendar').children().children().children().children('td').eq(i).text());
        // console.log("------")
        
        if ($(".month"+x).text() == $('.current_month').text()){

        if ($(".day"+x).text() == $('.calendar').children().children().children().children('td').eq(i).contents().eq(0).text()) {
            
            //console.log(z);
            z++;

            //partially working. Gets buggy after more values are added
            $('.calendar').children().children().children().children('td').eq(i).append("<span style='color:white;display:block;text-align:center;background-color:#4CAF50'>" + $(".hour"+(x)).text()) + "</span>";
            }
        }
            // end working code
            
        };
    };

        



$('.table').css('text-align','center');
    //checks values
    //$(".table").children().children().slice(2).children().is(":contains('10')" )

    //gets all tr rows from calender
    //$(".table").children().children().slice(2);


    // $(".hidden").each(function(index) {
    //     console.log($(".month"+(index+1)));
    // });
if ($(window).width() > 1455) {
    $('.calendar').css('width','70%');
}

if ($(window).width() < 430) {
    $('.calendar').css('display','none');
    $('.appt_info_sm_screen').css('visibility','visible');
    $('.bottom').css('position','inherit');
}

</script>
