<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>

<body>
	<h1>Office Actiavtions</h1>
	<div class="hide">
		<div class="onboarded">{{onboard_stats[0][1]}}</div>
		<div class="no_contact">{{nocontact_status[0][1]}}</div>
		<div class="not_want">{{notwant_status[0][1]}}</div>
		<div class="incorrect_contact">{{incorrect_status[0][1]}}</div>
	</div>
	<div class="content" style="height: 100%; display: flex; align-items: center; justify-content: center;">
		<div class="row">
			<!-- Left column -->
  			<div class="col">
  				<h2 style="text-align: center">Total: {{ total_status[0][1] }}</h2>
  				<canvas id="myPieChart" width="600" height="400" style="left:50%; margin: auto;"></canvas>
  				<p id="caption" style="text-align: center;">Simple pie chart.</p>
  				<!-- Script for circle chart -->
				<script>
				Chart.defaults.global.responsive = false;

				var ctx = document.getElementById("myPieChart").getContext("2d");

				nowant = $('.not_want').text()
				nocontact = $('.no_contact').text()
				onboarded = $('.onboarded').text()
				incorrect = $('.incorrect_contact').text()


					var myPieChart = new Chart(ctx, {
					    type: 'pie',
						data: {
					    	labels: ['Refused','No_Contact','Activated', 'Incorrect_Contact'],
					    	datasets: [{
					       		label: "pop",
					       		backgroundColor: ['Red','Yellow','Green', 'Orange'],
					       		hoverBackgroundColor: ['#F56565', '#FFFAA8', '#4CBB18', '#F6C55C'],
					       		data: [nowant, nocontact, onboarded, incorrect]
					    	}],
						},
					    options: {
					      title: {
					        display: false,
					        text: '% of successful activations'
					      }
					    }
					});

					var canvas = document.getElementById("myPieChart");
    				var ctx = canvas.getContext("2d");
					   canvas.onclick = function(evt) {
					      var activePoints = myPieChart.getElementsAtEvent(evt);
					      if (activePoints[0]) {
					        var chartData = activePoints[0]['_chart'].config.data;
					        var idx = activePoints[0]['_index'];

					        var label = chartData.labels[idx];
					        var value = chartData.datasets[0].data[idx];

					        var url = "http://example.com/?label=" + label + "&value=" + value;
					        console.log(url);
					        window.location.href = label.trim();
					        // alert(url);
					      }
					    };


 
				</script>
			</div>
			<!-- End of Left Column -->
			<!-- Right column -->
 			<div class="col">
  				<canvas id="myChart" width="600" height="400" style="left:50%; margin: auto;"></canvas>
				<p id="caption" style="text-align: center;">Simple line chart.</p>
				<script type="text/javascript">// Global parameters:
				// do not resize the chart canvas when its container does (keep at 600x400px)
				Chart.defaults.global.responsive = false;
				 
				// define the chart data
				var chartData = {
				  labels : [{% for item in labels %}
				             "{{item}}",
				            {% endfor %}],
				  datasets : [{
				      label: '{{ legend }}',
				      fill: true,
				      lineTension: 0.1,
				      backgroundColor: "rgba(75,192,192,0.4)",
				      borderColor: "rgba(75,192,192,1)",
				      borderCapStyle: 'butt',
				      borderDash: [],
				      borderDashOffset: 0.0,
				      borderJoinStyle: 'miter',
				      pointBorderColor: "rgba(75,192,192,1)",
				      pointBackgroundColor: "#fff",
				      pointBorderWidth: 1,
				      pointHoverRadius: 5,
				      pointHoverBackgroundColor: "rgba(75,192,192,1)",
				      pointHoverBorderColor: "rgba(220,220,220,1)",
				      pointHoverBorderWidth: 2,
				      pointRadius: 1,
				      pointHitRadius: 10,
				      data : [{% for item in values %}
				                {{item}},
				              {% endfor %}],
				      spanGaps: false
				  }]
				}
				 
				// get chart canvas
				var ctx = document.getElementById("myChart").getContext("2d");
				 
				// create the chart using the chart canvas
				var myChart = new Chart(ctx, {
				  type: 'line',
				  data: chartData,
				  options: {
				        scales: {
				            yAxes: [{
				                ticks: {
				                    beginAtZero: true
				                }
				            }]
				        }
				    }
				});
				</script>
  			</div>
  			<!-- End of Right Column -->
		</div>
	</div>
</body>




