{% include 'template.html' %}
<script>
function myFunction1() {

    $.ajax({
      url : 'http://127.0.0.1:5000/selectcustomer/' + $('#id').html(), 
      type : 'GET',
      success: function(msg) {                   
                        $(results).fadeOut(800);
                        $('#test').load(document.URL + ' #test')
                        $('#test').fadeIn(800);
        }
    })
};
</script>

<div class="outer_ticket_search">
  <div id="results">
    <h2>Is this the correct customer?</h2>
	<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email Address</th>
      <th scope="col">Select</th>
    </tr>
  </thead>
  <tbody>
  	{% for x in customer %}
    <tr>
      <th scope="row" id="id">{{x.cx_id}}</th>
      <td id="name">{{x.customer_name}}</td>
      <td id="phonenumber">{{x.phone_num}}</td>
      <td id="email">{{x.email}}</td>
        <!-- handle this with an ajax call like before -->
      <td><input class="btn btn-secondary btn-sm btn-block" id="submit_button" type="submit" name="{{loop.index}}Select"  value="Select"></td>
      <!-- <td><input class="btn btn-secondary btn-sm btn-block" id="submit_button" type="submit" onclick="myFunction1()" name="{{loop.index}}Select"  value="Select"></td> -->
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</html>