<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">

<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>Log in</title>
</head>
<body style="overflow: hidden; height: 100%">
	<div class="content">
		<div class="top_header" style="display: block;"><h1 style="text-align: center; display: inline-block;">Log In</h1><div id="logged_in_user" style="display: inline-block; right: 15;">Logged in: {{current_user.username}}<br><a href="{{url_for('searchcustomer')}}">Open</a> / <a href="{{url_for('logout')}}">Log Out </a>
				</div></div>
			<div class="outer_card">
				<div class="top_bar" style="height: 10px;"><h4 style="padding-left: 3%;">Login</h4></div>
				<div class="outer_login">
					<div class="login" >
				      	<form method="POST" action="{{ url_for('index') }}">
				    		{{ form.csrf_token }}
				    		{{ form.log_in_name.label }} {{ form.log_in_name(size=20) }}
				    	</br>
				    		{{ form.password.label }}  {{ form.password(size=20) }}
				    	</br>
				    	</br>
				    		<input class="btn btn-primary btn-sm btn-block" type="submit" value="login">
						</form>
						<a href="{{url_for('register')}}">New user? Register Here</a>
					</div>
				</div>
				</div>
			</div>
	</div>

<script>
	$('.outer_card').css('height',($('.outer_login').height() + 50));
</script>
</body>

<!-- <script>
	$('.outer_card').css('margin-top', $(window).height()/2);
</script> -->