<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title>{{title}}</title>
	<script>
		$('.content').css('height', $(window).height());
	</script>
 <!-- https://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_text_value_formval -->
</head>

<body>
	<div class="content">	
		<div class="top_header">
			
			<input class="btn btn-secondary btn-sm btn-block" id="back_button" value="Back" onclick="goBack()" style="text-align: left; margin-top: .75rem;">
			<script>
				function goBack() {
					window.history.back();
				}

			</script>


			<div style="display:inline-block; margin-left: auto;">
				<div id="title" style="display: inline-block;"><h1>{% if title %}{{ title }}{% else %}title{% endif %}</h1>
				</div>
				<div id="logged_in_user" style="display: inline-block; position: absolute; right: 15;">Logged in: {{current_user.username}}<br>{% for x in user %} ({{ x.role }}) {% endfor %} <a href="{{url_for('logout')}}">Log Out </a>
				</div>
			</div>
			<!-- Hamburger button -->
			<div class="dropdown" style="float: right; margin-left: auto;">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{% for x in user %} 
						{% if x.role != 'sales' %}
							<a class="dropdown-item" href="{{ url_for('createticket')}}">Create Ticket</a>
						{% endif %}
					{% endfor %}
					<a class="dropdown-item" href="{{ url_for('createcustomer')}}">New Customer</a>
					<a class="dropdown-item" href="{{ url_for('calendar', month=month)}}">Appointment</a>
					<a class="dropdown-item" href="{{ url_for('salesorder')}}">Orders</a>
					<a class="dropdown-item" href="{{ url_for('searchcustomer')}}">Search</a>

					{% for x in user %} 
						{% if x.role == "Support" or "manager" %}
							<a class="dropdown-item" href="{{ url_for('charts')}}">Charts</a>
						{% endif %}
						{% if x.role == "manager" %}
							<a class="dropdown-item" href="{{url_for('masterlist')}}"  target="_blank">Master List</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function dropDown() {
	var x = document.getElementById("myDropdown");
	if (x.style.display === "none") {
		x.style.display = "block";
	} else {
		x.style.display = "none";
	}

}

function dropDown1() {
	var x = document.getElementById("myDropdown1");
	if (x.style.display === "none") {
		x.style.display = "block";
	}
	else {
		x.style.display = "none";
	}
}

function dropDown2() {
	var x = document.getElementById("myDropdown2");
	if (x.style.display === "none") {
		x.style.display = "block";
	} 
	else {
		x.style.display = "none";
	}
}


// $('#myDropdown').on({
//   mouseenter: function() {
//     $(this).fadeTo(500, 1); // or whatever
//   },
//   mouseleave: function() {
//     $(this).fadeTo(500, 0.85); // or whatever
//   }
// }, '#myDropdown');

// $('#myDropdown').hover( function ()  { $(this).fadeTo(500,0);});


$('#myDropdown').hover(
    function () {
        $(this).fadeTo(500, 1);
    }, 
    function () {
        $(this).fadeOut("fast");
    }
);

</script>

<!-- helping to format css -->
<script>
header_height = $('.top_header').height()

$('#dropdownMenuButton').css('height', header_height)
$('#dropdownMenuButton').css('width', header_height);

</script>


<!-- The sidebar -->
<div class="sidebar">
	<a class="active" href="#">Home</a>
	<a href="#" onclick="dropDown()">Create...</a>
		<div class="dropdownside">
			<div id="myDropdown" class="dropdown-content" style="display: none">
			{% for x in user %} 
				{% if x.role != 'sales' %}
				<a href="{{ url_for('createticket')}}">Ticket</a>
				{% endif %}
			{% endfor %}
			<a href="{{ url_for('createcustomer')}}">Customer</a>
			<a href="{{ url_for('calendar', month=month)}}">Appointment</a>
			<a href="{{ url_for('salesorder')}}">Orders</a>
			</div>
		</div>
	{% for x in user %} 
		{% if x.role != 'sales' %}
			<a href="#" onclick="dropDown1()">History..</a>
				<div class="dropdownside1">
					<div id="myDropdown1" class="dropdown-content" style="display: none">
					<a href="{{ url_for('mytickets') }}">My Tickets</a>
					{% if session['id'] %}
					<a href="{{url_for('listticket')}}">View Tickets</a>
					{% endif %}
					</div>
				</div>
		{% endif %}
	{% endfor %}
	<a href="#" onclick="dropDown2()">Search..</a>
		<div class="dropdownside2">
			<div id="myDropdown2" class="dropdown-content" style="display: none">
				<a href="{{ url_for('searchcustomer')}}">Customer</a>
				<a href="#">Search Ticket</a>
			</div>
		</div>
		<!-- Change later for other roles -->
		{% for x in user %} 
			{% if x.role == "Support" or "manager" %}
				<a href="{{ url_for('charts')}}">Charts</a>
			{% endif %}
			{% if x.role == "manager" %}
				<a href="{{url_for('masterlist')}}"  target="_blank">Master List</a>
			{% endif %}
		{% endfor %}
</div>

<script>

function myFunction() {
	$.ajax({
		url : "http://127.0.0.1:5000/clearsession", 
		type : 'GET',
		success: function(msg) {
			$(test).fadeOut(800, function(){
				form.html(msg).fadeIn().delay(2000);
			});
		 
		}
	})
};

// when you move mouse off list, list disappears
$('#myDropdown').hover(
    function () {
        $(this).fadeTo(500, 1);
    }, 
    function () {
        $(this).fadeOut();
    }
);


$('#myDropdown2').hover(
    function () {
        $(this).fadeTo(500, 1);
    }, 
    function () {
        $(this).fadeOut();
    }
);


</script>

<div class="bottom" id="test">
	{% if session['id'] %}
		<div class="customer_info">Currently using customer: {{session['id']}}<br>{{session['name']}}<br>
		</div>
		{% if session['day'] %}
			<div class="appt" style="position: fixed; right: 1%; color: lightgreen;">Appointment: {{ session['month'] }}/{{session['day']}} at {{session['hour']}}
			</div>
		{% endif %}
		<button type="button" onclick="myFunction()" class="btn btn-warning">Clear</button>
	{% endif %}
</div>