{% include 'template.html' %}
		<div class="outer_ticket_search">
{% for x in customer %}
<h2>Customer, {{ x.customer_name }} has been added with an ID of {{ x.cx_id }}</h2>
{% endfor %}
<br>
<br>
<p>put email here or something</p>

</div>
				</div>
			</div>
		</div>


</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>