<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/style.css') }}">
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<title></title>
</head>
<!-- <body style="overflow: hidden; height: 100%"> -->
	<body>
	<div class="content">
		<div class="top_header">
			<h1>Search</h1>
		</div>
		<div class="outer_ticket_search">
					<div id="ticket_search">
			      	<form method="POST" action="/">
			    		{{ form.csrf_token }}
			    		{{ form.cx_id.label }} {{ form.cx_id(size=20) }}
			    	</br>
			    		{{ form.name.label }} {{ form.name(size=20) }}
			    	</br>
			    		{{ form.address.label }}  {{ form.address(cols="23", rows="2") }}
			    	</br>
			    		{{ form.order_num.label }} {{ form.order_num(size=20) }}
			    	</br>
			    	</br>
			    		<input class="btn btn-secondary btn-sm btn-block" type="submit" value="Search">
					</form>
					</div>
				</div>
			</div>
		</div>
</body>
</html>